* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: black;
}
body {
	display: flex;
	width: 100%;
	height: 100vh;
}
form {
	width: 100%;
	height: 100%;
}
form input {
	margin: auto;
	width: 49%;
	height: 30%;
	font-size: 20vw;
}
form input::-webkit-inner-spin-button, form ::-webkit-outer-spin-button {
	opacity: 1;
}
form button {
	width: 100%;
	height: 20%;
	margin-top: 5%;
	background: rgb(130, 224, 255);
	font-size: 10vh;
} 